<h2> Lists of Posts: </h2>
<hr>
<a href = '/admin/posts/add'><button class = 'btn btn-success'> New Post </button></a>

{{#each posts}}
    <div class="card mt-4">
        <div class="card-body">
            <h4> Title {{title}} </h4>
            <p> Description: {{description}} </p>
            <small> Date: {{createdAt}} </small> <br>
            <small> Category: {{category.name}} </small> <br>
            <a href="/admin/posts/edit/{{_id}}">
                <button class="btn btn-success mt-3"> Edit Post </button>
            </a>
            <a href="/admin/posts/delete/{{_id}}">
                <button class="btn btn-danger mt-3"> Delete Post </button>
            </a>
        </div>
    </div>
{{else}}
    <p> Nothing post registered! </p>
{{/each}}